<link rel="stylesheet" href="{{asset('vendor/datatables/css/dataTables.tableTools.css')}}">
<h1>User list</h1>

<div class="table-responsive">
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Salt</th>
                            <th>Verified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.lastName }}</td>
                                <td>{{ entity.email }}</td>
                                <td>{{ entity.password }}</td>
                                <td>{{ entity.salt }}</td>
                                <td>{{ entity.verified }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
</div>
                <ul>
                    <li>
                        <a href="{{ path('user_new') }}">
                            Create a new entry
                        </a>
                    </li>
                </ul>
                
<style>
    h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
</style>         